// 1. 全局的样式文件引入入口
// 2. 定义基准样式
@import 'element-ui';
@import 'public';
@import 'transition';
@import 'common-variables';

html,
body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
  font-size: $font-size-base;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
textarea,
select,
ul,
ol {
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}
