@import './common-variables';

// 全局的共用样式类

// 链接
.router-link-active {
  transition: all 0.2s;
  color: $color-primary !important;
}

// 常用布局排版
.full {
  width: 100%;
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

// 常用文字排版
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// 常用列表排版
ul.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}

// 滚动条默认样式定制
.scrollbar-default {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

// flex 布局
.flex {
  display: flex;
}
.flex-end {
  @extend .flex-end-vertical;
  @extend .flex-end-horizontal;
}
.flex-end-vertical {
  @extend .flex, .flex-center-horizontal;
  align-items: flex-end;
  align-content: flex-end;
}
.flex-end-horizontal {
  @extend .flex, .flex-center-vertical;
  justify-content: flex-end;
  justify-items: flex-end;
}
.flex-center {
  @extend .flex-center-vertical;
  @extend .flex-center-horizontal;
}
.flex-center-vertical {
  @extend .flex;
  align-items: center;
  align-content: center;
}
.flex-center-horizontal {
  @extend .flex;
  justify-content: center;
  justify-items: center;
}
.flex-space-between {
  @extend .flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.flex-wrap {
  @extend .flex;
  flex-wrap: wrap;
}
.flex-column {
  @extend .flex;
  flex-direction: column;
}
.flex-1,
.flex-spacer {
  flex-grow: 1;
}

// 常用阴影效果
// 浅色投影
.box-shadow-default {
  box-shadow: $box-shadow-default;
}
// 基础投影
.box-shadow-base {
  box-shadow: $box-shadow-base;
}

// 过渡效果
.transition-default {
  transition: $transition-base;
}

// 常用 margin 距离
// 基准单位 => base: 10px | medium: 20px | large: 30px
// class => .margin-base = { margin: 10px } （medium | large 同理）
// class => .padding-base = { padding: 10px } （medium | large 同理）
// class => .margin-left-base = { margin-left: 10px } （medium | large 同理）
// class => .padding-left-base = { padding-left: 10px } （medium | large 同理）
@each $type in margin, padding {
  .#{$type}-base {
    #{$type}: $spacing-base;
  }
  .#{$type}-medium {
    #{$type}: $spacing-medium;
  }
  .#{$type}-large {
    #{$type}: $spacing-large;
  }
  @each $direction in top, right, bottom, left {
    .#{$type}-#{$direction}-base {
      #{$type}-#{$direction}: $spacing-base;
    }
    .#{$type}-#{$direction}-medium {
      #{$type}-#{$direction}: $spacing-medium;
    }
    .#{$type}-#{$direction}-large {
      #{$type}-#{$direction}: $spacing-large;
    }
  }
}
