<template>
  <ul class="list-unstyled">
    <li v-for="user in activeUsers" :key="user">{{ user }}</li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      users: Array(10)
        .fill('')
        .map((user, index) => index)
    };
  },
  computed: {
    activeUsers() {
      return this.users.filter((user) => user % 2);
    }
  }
};
</script>

<style lang="scss" scoped></style>
