<template>
  <div>
    <h4 class="margin-bottom-medium">状态，方法，生命周期的复用</h4>
    <Example1></Example1>
    <Example2></Example2>
  </div>
</template>

<script>
import Example1 from './components/example1';
import Example2 from './components/example2';

export default {
  components: {
    Example1,
    Example2
  }
};
</script>

<style lang="scss" scoped></style>
