<template>
  <el-button>
    <h3>map-controls（mapId: {{ mapId }}）</h3>
    <MapControlsBtn></MapControlsBtn>
  </el-button>
</template>

<script>
// import mapInjectMixin from '../mixins/map-inject';
import MapControlsBtn from './map-controls-btn';

export default {
  // mixins: [mapInjectMixin],
  data() {
    return {
      mapId: ''
    };
  },
  components: {
    MapControlsBtn
  },
  inject: ['getMap'],
  created() {
    this.$map = this.getMap();
    this.mapId = this.$map.id;
  }
};
</script>

<style lang="scss" scoped></style>
