<template>
  <div>
    <el-button>map-controls-btn（mapId: {{ mapId }}）</el-button>
  </div>
</template>

<script>
// import mapInjectMixin from '../mixins/map-inject';

export default {
  // mixins: [mapInjectMixin],
  data() {
    return {
      mapId: ''
    };
  },
  inject: ['getMap'],
  created() {
    this.$map = this.getMap();
    this.mapId = this.$map.id;
  }
};
</script>

<style lang="scss" scoped></style>
