<template>
  <el-button v-loading="loading">
    <h2>map（mapId: {{ mapId }}）</h2>
    <MapControls v-if="!loading"></MapControls>
  </el-button>
</template>

<script>
import MapControls from './map-controls';

export default {
  components: {
    MapControls
  },
  provide() {
    return {
      getMap: this.getMap
    };
  },
  data() {
    return {
      mapId: '',
      loading: true
    };
  },
  methods: {
    getMap() {
      return this.$map;
    }
  },
  mounted() {
    // 模拟 map 加载完毕
    setTimeout(() => {
      this.$map = { id: 'map1' };
      this.mapId = this.$map.id;
      this.loading = false;
    }, 1000);
  }
};
</script>

<style lang="scss" scoped></style>
