<template>
  <div class="layout full-height">
    <Header />
    <div class="flex full-height">
      <Navbar />
      <div class="layout__content flex-1 full-height">
        <transition name="fade" mode="out-in">
          <keep-alive>
            <router-view />
          </keep-alive>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from './components/navbar.vue';

export default {
  name: 'layout',
  components: {
    Navbar
  }
};
</script>

<style lang="scss" scoped>
@import '~@/styles/common-variables';

.layout {
  &__content {
    padding: $spacing-medium;
    overflow-y: auto;
  }
}
</style>
