<template>
  <div>
    <p>您搜索的关键词是：<span v-html="keyword"></span></p>
  </div>
</template>

<script>
import getParam from '@/utils/get-param';

export default {
  data() {
    return {
      // 从 URL 中获取这个 keyword 对应的内容
      keyword: getParam('keyword')
    };
  },
  mounted() {}
};
</script>
