<template>
  <div class="v-once">
    <!-- 实例1：单个元素 -->
    <span v-once>{{ msg }}</span>

    <!-- 实例2：区域内 -->
    <div v-once class="flex-column">
      <span>{{ title }}</span>
      <span>{{ content }}</span>
    </div>

    <div class="margin-top-medium">
      <span>这里没有添加 v-once {{ msg }}</span>
    </div>

    <!-- 实例2：区域内 -->
    <div class="flex-column margin-bottom-medium">
      <span>这里没有添加 v-once {{ title }}</span>
      <span>这里没有添加 v-once {{ content }}</span>
    </div>

    <el-input v-model="msg"></el-input>
    <el-input v-model="title"></el-input>
    <el-input v-model="content"></el-input>
  </div>
</template>

<script>
export default {
  name: 'v-once',
  data() {
    return {
      msg: 'msg',
      title: 'title',
      content: 'content'
    };
  }
};
</script>

<style lang="scss" scoped>
.v-once {
  width: 300px;
}
</style>
