<template>
  <div>
    <Example1></Example1>
    <el-divider></el-divider>
    <Example2></Example2>
  </div>
</template>

<script>
import Example1 from './components/example1';
import Example2 from './components/example2';

export default {
  components: {
    Example1,
    Example2
  }
};
</script>

<style lang="scss" scoped></style>
