<template>
  <div>
    <Render />
  </div>
</template>

<script>
import Vue from 'vue';

import Render from './test';

console.log('test 文件转译的内容 ->', Render);
console.log('test 创建实例 ->', new Vue(Render));
console.log('一个 vue 的实例 ->', new Vue());

export default {
  components: {
    Render
  }
};
</script>

<style lang="scss" scoped></style>
