<template>
  <div>
    {{ msg }}
  </div>
</template>

<script>
export default {
  data() {
    return {
      msg: 'render 组件'
    };
  }
};
</script>

<style lang="scss" scoped>
@import '~@/styles/common-variables';

div {
  width: 100px;
  height: 100px;
  background: $color-primary;
  color: white;
}
</style>
