<template>
  <el-button @click="toggleActive()">example1: {{ state }}</el-button>
</template>

<script>
import toggleActiveMixin from '../mixins/toggle-active';
import lifecycleMixin from '../mixins/lifecycle';

export default {
  mixins: [toggleActiveMixin, lifecycleMixin]
};
</script>

<style lang="scss" scoped></style>
