<template>
  <div>
    <transition-group name="fade">
      <ListItem v-for="item in data" :data="item" :key="item" />
    </transition-group>
    <el-divider></el-divider>
    <el-button @click="insert()">Insert</el-button>
  </div>
</template>

<script>
import ListItem from './list-item';

export default {
  components: {
    ListItem
  },
  data() {
    return {
      data: Array(5)
        .fill('')
        .map((i, index) => index)
    };
  },
  methods: {
    insert() {
      this.data.splice(3, 0, this.data.length);
    }
  }
};
</script>
