<template>
  <div class="navbar full-height">
    <h2 class="navba__header">文档实例</h2>
    <template v-for="nav in navs">
      <h3 class="navbar__title">
        {{ nav.name }}
      </h3>
      <ul class="navbar__menus">
        <li
          v-for="item in nav.children"
          :key="item.name"
          class="navbar__menus-item"
        >
          <router-link :to="item.path">
            {{ item.name }}
          </router-link>
        </li>
      </ul>
    </template>
  </div>
</template>

<script>
import navs from '@/config/navs';

export default {
  data() {
    return {
      navs
    };
  }
};
</script>

<style lang="scss" scoped>
@import '~@/styles/common-variables';

.navbar {
  padding: $spacing-medium;
  border-right: $border-base;
  overflow-y: auto;
  &__title {
    display: inline-block;
    margin: $spacing-medium 0 $spacing-base;
  }
  &__menus {
    padding-left: $spacing-medium;
    line-height: 2em;
  }
  &__menus-item {
  }
}
</style>
