<template>
  <div>
    <div v-test="value">{{ value }}</div>
    <el-divider></el-divider>
    <el-button @click="show = !show">{{ show ? 'show' : 'hide' }}</el-button>
    <el-button @click="value++">change</el-button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: true,
      value: 0
    };
  },
  directives: {
    test: {
      bind() {
        console.log('bind ->', arguments);
      },
      inserted() {
        console.log('inserted ->', arguments);
      },
      update() {
        console.log('update ->', arguments);
      },
      componentUpdated() {
        console.log('componentUpdated ->', arguments);
      },
      unbind() {
        console.log('unbind ->', arguments);
      }
    }
  },
  created() {
    console.log('created');
  },
  beforeMount() {
    console.log('beforeMount');
  },
  mounted() {
    console.log('mounted');
  }
};
</script>

<style lang="scss" scoped></style>
