<template>
  <div>
    <el-button @click="add()">example1 count: {{ count }}</el-button>
  </div>
</template>

<script>
import eventHub from '../event-hub';

export default {
  data() {
    return {
      count: 0
    };
  },
  methods: {
    add() {
      this.count++;
      eventHub.$emit('countChange', this.count);
    },
    countChange(count) {
      this.count = count;
    }
  },
  created() {
    eventHub.$on('countChange', this.countChange);
  },
  beforeDestroy() {
    eventHub.$off('countChange', this.countChange);
  }
};
</script>

<style lang="scss" scoped></style>
